/* 웹페이지의 기본 여백을 모두 제거합니다. */
body {
    margin: 0;
    overflow: hidden; /* 스크롤바가 생기지 않도록 합니다. */
    background-color: #fff; /* 하얀색 배경 */
}

/* 캔버스가 화면 전체를 덮도록 만듭니다. */
#webgl-canvas {
    display: block;
    width: 100%;
    height: 100%;
}